



a{
    text-decoration: none;
}



.app-home-items{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto 5em;
    width: 30%;
    background-color: #219EBC;
    /* background-color: #f93d67; */
    padding: 0.5em;
    border-radius: 5px;
    border: 3px solid #FB8500;
    height: 20em;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.rejected{
    background-color: #FF4D4D;
}
.applied{
    background-color: #1057fb;
}
.offer{
    background-color: #06b724;
}

.app-home-items h3{
    color: #ffb703;
    display: flex;
    font-family: 'Poppins', sans-serif;
    font-size: 1.2em;
    font-weight: 300;
}

.app-home-items p{
    color: white;
    margin: 0 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;

}

.item-icon{
    width: 1em;
    height: auto;
    margin: 0 10px;
}

.app-home-items h4{
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 2em;
    border-bottom: 1px solid #FB8500;
    font-weight: 800;
    margin: 0;
}

.btn-container{
    display: flex;
}

.btn-container button {
    font-family: 'Poppins', sans-serif;
    margin: 0.2em;
    padding: 1em;
    border: none;
    background-color: #FB8500;
    color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 5px white;
}



.info-btn:hover, .del-btn:hover, .edit-btn:hover{
    background-color: white;
    color: #FB8500;
}

.item-icon{
    font-size: 1.5em;
}